:root {
    --BG0    : #282828;
    --BG1    : #3c3836;
    --BG2    : #504945;
    --BG3    : #665c54;
    --BG4    : #7c6f64;
    --GRAY   : #928374;
    --FG4    : #a89984;
    --FG3    : #bdae93;
    --FG2    : #d5c4a1;
    --FG1    : #ebdbb2;
    --FG0    : #fbf1c7;
    --RED    : #fb4934;
    --ORANGE : #fe8019;
    --YELLOW : #fabd2f;
    --GREEN  : #b8bb26;
    --AQUA   : #8ec07c;
    --BLUE   : #83a598;
    --PURPLE : #d3869b;
    --dRED   : #cc341d;
    --dORANGE: #d65d0e;
    --dYELLOW: #d79921;
    --dGREEN : #98971a;
    --dAQUA  : #689d6a;
    --dBLUE  : #458588;
    --dPURPLE: #b16286;
}

html {
    background-color: var(--BG0);
    color           : var(--FG1);
    font-family     : "Fira Sans", sans-serif;
}

body {
    width  : auto;
    margin : 0 5% 0 5%;
    padding: 20px 0 30px 0;
}

.second-body {
    background: var(--BG1);
    margin    : 50px;
    padding   : 50px;
}

h1 {
    font-size  : 100px;
    font-weight: 900;
    color      : var(--dAQUA);
    text-align : center;
    margin     : 0;
}

h1.subtitle {
    font-size  : 40px;
    font-weight: 400;
    color      : var(--FG3);
    text-align : center;
}

strong {
    color          : var(--FG1);
    font-weight    : 700;
    text-decoration: none;
}

.links {
    font-size       : 25px;
    font-weight     : 600;
    color           : var(--BG2);
    text-align      : center;
    margin-top      : 20px;
    padding         : 20px;
    border          : 1px solid var(--FG3);
    background-color: var(--FG3);
    border-width    : 5px;
    width           : 50%;
    display         : block;
    margin-left     : auto;
    margin-right    : auto;
}

a {
    text-decoration           : none;
    transition                : color 0.25s, background 0.25s;
    transition-timing-function: ease-in-out;
}

a:hover {
    color     : var(--FG3);
    background: var(--BG1);
}